html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/love.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-image: url(../img/love.jpg);
	color:black;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
legend {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 1.5rem 0 1rem 0;
}
p , [for="abtype"] , [for="comments"] {
	margin-bottom: 1rem;
	margin-top: 2rem;
	/**TopRightBottomLeft**/

}
fieldset {
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}
label {
	display: block;
	padding-bottom: 0.3rem;
}
textarea {
	height: 10rem;
	padding: 1rem;
	background-color: black;
	color: whitesmoke;
}
select {
	font-size: 1rem;
}
button {
	font-size: 1rem;
	margin: 2rem 0;
	background-color: #bb342F;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10rem;
    cursor: pointer;
}
button:hover {
	background-color: white;
	color: red;
}
input:not([type="radio"]):not([type="checkbox"]) , textarea , select{
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border: none;
	background-color: black;
	color: whitesmoke;
}
h1 {
	font-family: 'Lobster Two', cursive;
}
.dt {
	display: inline;
	width: 10rem;
}










